@media(max-width: 1300px){
#menu ul li a{
padding: 6px 40px;
}
#footer ul li{
padding: 5px 20px;
}
}


@media(max-width: 1100px){
#menu ul li a{
padding: 6px 30px;
}
#footer ul li{
padding: 5px 10px;
}
}


@media(max-width: 910px){
#menu ul li a{
padding: 6px 20px;
}
#footer ul li{
padding: 5px 0px;
}
}


@media(max-width: 800px){
#menu ul li a{
padding: 6px 10px;
}
#footer ul li a{
padding: 5px 10px;
}
}


@media(max-width: 700px){
#menu ul li a{
font-weight: normal;
}
#header h1{
font-size: 150%;
}
}


@media(max-width: 630px){
#menu ul li a{
font-size: 80%;
}
#footer ul li a{
font-size: 80%;
padding: 5px 5px;
}
}


@media(max-width: 550px){
#menu ul li a{
font-size: 60%;
}
#header h1{
font-size: 100%;
}
.main{
width: 165px;
}
.sidebar{
width: 200px;
}
.sidebar_image{
width: 240px;
}
}


@media(max-width: 500px){
#menu, #header, #footer{
width: 465px;
}
.main{
width: 125px;
}
.sidebar{
width: 150px;
}
.sidebar_image{
width: 190px;
}
}

@media(max-width: 400px){
body{
font-size: 70%;
}
.main{
width: 115px;
}
.sidebar{
width: 100px;
}
.sidebar_image{
width: 140px;
}
}

@media(max-width: 350px){
.sidebar{
width: 60px;
}
.sidebar_image{
width: 100px;
}
}